.contacto
  padding: 10em 0 0 0
  &-container
    width: 50%
    margin: 0 auto
    //background: gray
    text-align: center;
    &-info
      padding: 0 2.5em
      margin-bottom: 2em
      &-uno
        margin-bottom: 4em
        color: white
        h5
          padding: 1em
    .formulario
      input
        height: 3em
      textarea
        height: 14em
      input, textarea
        background: none;
        border: 1px solid #575757
        padding: 1em;
        color: white
      .campo, .campo2
        margin-bottom: 1em
      .campo
        input, textarea
          width: 100%
      .campo2
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        input
          width: 48%
      button
        border: 0;
        width: 100%;
        height: 3em;
        background: #8ab01f
        margin-bottom: 6em;
    .derechos
      color: white
      padding 1em 0
