.vinicolas
  .vinicolas-container, .carousel, .carousel-inner, .item
    height: inherit;
  .perote, .vesubio
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  .perote
    background-image: url(../img/elperote.jpg);
  .vesubio
    background-image: url(../img/vinicola_1.jpg);
  .item
    position: relative;
  figcaption
    position: absolute;
    color: white;
    right: 0
    left: 0
    top: 0
    bottom: 0
    background: linear-gradient(to right,rgba(0, 0, 0, 0.58) 0,rgba(32,31,36,0) 100%);
    color: white
    div
      margin-left: 11em
      h3
        text-transform: uppercase;
        font-size: 1.5em
        margin: 1em 0
      i
        font-size: 2.4em
        margin-right: .5em;
.carousel-inner>.item
  transition: transform .3s ease-in-out !important
