.vinicolas
  .vinicolas-container, .carousel, .carousel-inner, .item
    height: inherit;
  .perote, .vesubio
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  .perote
    background-image: url(../img/elperote.jpg);
  .vesubio
    background-image: url(../img/vinicola_1.jpg);
