@import 'nib';
@import 'bootstrap.css';
@import 'flexboxgrid.css';
@import 'reset.css';
@import 'normalize.css'
@import '../fonts/style.css'

html
  box-sizing: border-box;


*, *:before, *:after
  box-sizing: inherit;

body
  background: #ebebeb;
  font-size: 16px
  font-family 'Noto Sans'
  position: relative;
a, a:hover
  text-decoration: none;
  color: white;
p
  line-height: 1.5
.margen
  margin 0
.be-black-gray
  background: #201f24;
.be-black
  background: black;
.color-green
  color: #8ab01f
.home
  background-image: url(../img/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
@import 'header/header';
@import 'historia/historia';
@import 'vinicolas/vinicolas';
@import 'calendario/calendario';
@import 'contacto/contacto';
@import 'footer/footer';
