@import 'nib';
@import 'flexboxgrid.css';
@import 'reset.css';
@import 'normalize.css'

html
  box-sizing: border-box;


*, *:before, *:after
  box-sizing: inherit;

body
  background: green;
  font-size: 16px

@import 'header/header';
