@import 'nib';
@import 'bootstrap.css';
@import 'flexboxgrid.css';
@import 'reset.css';
@import 'normalize.css'
@import '../fonts/style.css'

html
  box-sizing: border-box;


*, *:before, *:after
  box-sizing: inherit;

body
  background: #ebebeb;
  font-size: 16px
a, a:hover
  text-decoration: none;
  color: white;
.margen
  margin 0
.be-black-gray
  background: #201f24;
.home
  background-image: url(../img/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
@import 'header/header';
@import 'historia/historia';
@import 'vinicolas/vinicolas';
@import 'calendario/calendario';
