.calendario
  padding-top: 9em
  &-container
    width: 60%
    margin: 0 auto
    color white
    h3
      font-size: 2em
      text-align: center;
      padding: 1em
      text-transform: uppercase;
    .meses
      i
        cursor: pointer;
      i:last-child
        transform: rotate(180deg);
      p
        margin: 0 2.5em;
        border: 1px solid white;
      p, i
        padding: .3em 1em;
