.historia
  color white
  padding-top: 9em
  &-container
    width: 50%;
    margin: 0 auto;
    h2
      text-align: right;
      font-size: 1.5em
      text-transform: uppercase;
      padding: 1em 0
    .border-historia
      height: 3em
      border-right: 2px solid white
      margin 1em 0
    p
      text-align: justify;
      line-height: 1.5;
