header
  background: #ebebeb;
  position: fixed;
  right: 0
  left 0
  div
    background: white
    ul
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      li
        padding: 1em
        font-weight: 700;
        font-size: .8em
        cursor: pointer;
        text-transform: uppercase;
        color grey
        transition: color .5s ease
      li:hover
        color: #8ab01f
  .header-nav
    padding: 2em 4em
    figure
      height: 4em;
      background-image: url(../img/parras-logotipo.png);
      background-repeat: no-repeat;
    .nav-opciones-icons
      font-size: 3em
      li
        cursor pointer
        color #575757;
      li:hover
        color #4d2865
