header
  div
    background: white
    ul
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      li
        padding: 1em
        font-weight: 700;
        font-size: .8em
        cursor: pointer;
        text-transform: uppercase;
        color grey
        transition: color .5s ease
      li:hover
        color: #8ab01f
