@media (max-width:847px)
  header
    .nav-opciones-icons
      display: none
    .menu
      height: 3em
      width: 3em
  .historia
    &-container
      width: 70%
  .contacto
    font-size: .9em
    &-container
      width: 60%
@media (max-width:719px)
  .vinicolas
    &-container
      figcaption
        div
          margin-left: 6em
  .contacto
    &-container
      width: 70%
  .historia
    &-container
      width: 80%
@media (max-width:600px)
  .contacto
    &-container
      width: 90%
      .formulario
        .campo2
          flex-direction: column;
          margin-bottom: 0
          input
            width: 100%
            margin-bottom: 1em
  .footer
    padding: 3em
@media (max-width:620px)
  .vinicolas
    &-container
      figcaption
        div
          margin-left: 4em
@media (max-width:536px)
  .footer
    padding: 1em
    &-container
      flex-direction: column;
      img
        width: 10em
        margin-bottom: 1em
  .historia
    padding: 0
    &-container
      width: 90%
  .calendario
    &-container
      width: 90%
  .vinicolas
    &-container
      figcaption
        div
          ul
            display: none
  .contacto
    &-container
      &-info
        padding: 0 1em
@media (max-width:367px)
  .historia
    height: 900px !important
    &-container
      h2
        padding: 0
